#1. **Write a Python program to convert kilometers to miles?** "

In [6]:
def convert_Km_Metres(a):
   return a*1000

print("enter the kilometre to be converted")
km = float(input())
met = convert_Km_Metres(km)
print("the km converted into", str(met) + " metres")

enter the kilometre to be converted
23
the km converted into 23000.0 metres

# **2.	Write a Python program to convert Celsius to Fahrenheit?**:

In [7]:
def convert_celsius_to_fahrenheit(a):
   return a*1.8+32

print("enter the temperature in celsius ")
cels = float(input())
fahren= convert_celsius_to_fahrenheit(cels)
print("the temperature in Celsius is converted into", str(fahren) + " F")

enter the temperature in celsius
38
the temperature in Celsius is converted into 100.4 F

# 3.	**Write a Python program to display calendar?**
---

In [13]:
import calendar

print("the year of which calendar is to be displayed")
year = int(input())
print(calendar.calendar(year))

the year of which calendar is to be displayed
2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

# 4.	**Write a Python program to solve quadratic equation?**

In [16]:
import cmath
import math

def quadratic_eqn_solution(a,b,c):
    #print(a,b,c )
    d = b*b-4*a*c
    #print("d is", d)
    if d >=0 :
        di = math.sqrt(d)
    else:
        di = cmath.sqrt(d)
    x1 = (-b+di)/(2*a)
    x2 = (-b-di)/(2*a)

    return x1, x2
    
print("give the co-efficient of the quad eqn in the form ax*x+b*x+c")
a = int(input())
b = int(input())
c = int(input())

#print(math.sqrt(1))

print("roots of the quadratic equation are", quadratic_eqn_solution(a,b,c))

give the co-efficient of the quad eqn in the form ax*x+b*x+c
1
10
-24
1 10 -24
d is 196
roots of the quadratic equation are (2.0, -12.0)

# 5.	**Write a Python program to swap two variables without temp variable?**

In [17]:
import random               #importing math library for square root function use
a = input()
b = input()
a, b = b, a 
print(a,b)

2
3
3 2