# **Question 1**
 **Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.**

In [ ]:
def is_symmetrical(num):
  numb = str(num)
  leng = len(numb)
  mid = int(leng/2)

  if leng%2 !=0:
    front = numb[0:mid] 
    end = numb[leng:mid:-1]
        
  else:
    front = numb[0:mid] 
    end = numb[leng:mid-1:-1]

  if front == end:
    return True
  else: 
    return False

  
print(is_symmetrical(1112111))

In [ ]:
def reverse_number(num):
  rev_num = 0
  while(num>1):
    last_digit = num%10
    rev_num = rev_num*10 + last_digit
    num = num//10
  return rev_num

def symmetrical(num):
  numb = str(num)
  len = length_num(num) 
  mid = len //2
  divisor = pow(10, mid)
  end = num%divisor
  front = num//divisor

  if len%2!=0:
    divisor = pow(10, mid+1)
    front = num//divisor
  
  
  if reverse_number(front) ==end:
    return True
  else:
    return False

print(symmetrical(8888))

True

# **Question 2:**
**Given a string of numbers separated by a comma and space, return the product of the numbers.**



Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [ ]:
def multiply_nums(str):
  
  num_lis = [int(item) for item in str.split(",")]
  result = 1
  for item in num_lis:
    result = result*item
  return result
      
print(multiply_nums("1, 2, 3, 4"))
print(multiply_nums("54, 75, 453, 0") )
print(multiply_nums("10, -2"))

24
0
-20

# **Question 3**
**Create a function that squares every digit of a number.**


Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414

In [ ]:

def square_digits(num):
  num = str(num)
  lis = [int(item) for item in num]
  for i in range(len(lis)):
    lis[i]=lis[i]*lis[i]
  num = ''.join([str(item) for item in lis])
  num = int(num)
  return num

print(square_digits(83))
print(square_digits(9119))
print(square_digits(3212))

649
811181
9414

# **Question 4**
**Create a function that sorts a list and removes all duplicate items from it.**

In [ ]:
def setify(lis):
  lis = list(set(lis))
  return lis

print(setify([1, 3, 3, 5, 5]))

[1, 3, 5]

In [ ]:
def setify(lis):
  lis_new = []
  [lis_new.append(item) for item in lis if item not in lis_new]
  return lis_new

print(setify([1, 3, 3, 5, 5]))

[1, 3, 5]

# **Question 5**
**Create a function that returns the mean of all digits.**


Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
The mean will always be an integer.

In [ ]:
def mean(num):

  lis = [int(char) for char in num]
  sum = 0
  for item in lis:
    sum=sum+item
  mean = sum//len(lis)
  return mean

number = input('enter a number')
print(mean(number))

enter a number42
3

In [ ]:
def mean(num):
  len = 0
  sum = 0

  while num>0:
    len = len+1
    sum = sum+num%10
    num = num//10
    
  mean = sum/len
  
  return mean


print(mean(42))
print(mean(12345))

3.0
3.0