#1. **Write a Python Program to Find the Factorial of a Number?** "

In [1]:
def find_fact(num):
    if num ==1:
        return 1
    else:
        return find_fact(num-1)*num

number = int(input())
print(find_fact(number))

6
720

# **2. Write a Python Program to Display the multiplication Table?**:

In [3]:
number = int(input())
for i in range(1,11):
    product = number*i
    print(str(number) + " * " + str(i)+ " = " + str(product))

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

#**3.	Write a Python Program to Print the Fibonacci sequence??**
---

In [27]:
def fibonacci_series(num):
    if num<0:
      return 0
    elif num == 1:
        return 1
    else:
        return fibonacci_series(num-1)+fibonacci_series(num-2)

print("enter the number for result")
number = int(input())
print(fibonacci_series(number)if number>=0 else "you have entered a negetiave number")

enter the number for result
0
0

# **4.	Write a Python Program to Check Armstrong Number?**

In [7]:
def sum_cube_digit(num):
    sum = 0
    while(num>0):
        remainder = int(num%10)
        sum = sum + pow(remainder, 3)
        num = int(num/10)
    return sum
    	
number= int(input())
if number== sum_cube_digit(number):
	print(str(number)+" is a armstrong number")
else:
  print(str(number)+" is not a armstrong number")

5
5 is not a armstrong number

# 5.**Write a Python Program to Find Armstrong Number in an Interval?**

In [11]:
def sum_cube_digit(num):
    sum = 0
    while(num>0):
      remainder = int(num%10)
      sum = sum + pow(remainder, 3)
      num = int(num/10)
    return sum
    
lower_limit = int(input())
upper_limit = int(input())                # interval (lower_limit â€“ upper_limit)
for i in range(lower_limit, upper_limit):
    		if i == sum_cube_digit(i):
        		print(i)

1
10000
1
153
370
371
407

# **6.	Write a Python Program to Find the Sum of Natural Numbers?**

In [12]:
def sum_nat_number(num):
    		if num ==0:
        		return 0
    		else:
       		 return sum_nat_number(num-1)+num

number = int(input())
print(sum_nat_number(number))

23
276